Repository miguel11nines/park-it-easy-office: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: update tests to match component behavior and optimize vitest
  src/test/ParkingSpotCard.test.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: resolve all lint warnings
  e2e/booking.spec.ts
  e2e/statistics.spec.ts
  eslint.config.js
  src/components/BookingDialogWithValidation.tsx
  src/hooks/use-toast.ts
  src/hooks/useUserProfile.ts
  src/hooks/useWaitlist.ts
  src/pages/Auth.tsx
  src/pages/Index.tsx
  src/pages/Statistics.tsx
  src/services/authService.ts
  src/test/booking.test.ts
  src/test/bookingService.test.ts
  src/test/env.test.ts
Due: eslint --fix, prettier --write

chore: bump version to 2.0.1
  package.json
Due: prettier --write

fix: add info and warning colors to Tailwind config
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: implement all V2 statistics features from plan
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

chore: bump version to 2.1.0
  package.json
Due: prettier --write

fix: make slot availability indicators more visible
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

feat: persist dark/light mode preference in localStorage
  src/App.tsx
Due: eslint --fix, prettier --write

fix: make Motorcycles and Spot 85 progress bars visible
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

feat: remove Capacity & Impact section from statistics
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

fix: clarify 'Best Time to Book' statistics with occupancy rates
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

chore: bump version to 2.1.1
  package.json
Due: prettier --write

fix: suppress SLSA go.sum warning by compiling generator
  .github/workflows/release.yml
Due: prettier --write

feat: add visually appealing SLSA v3 compliance section to releases
  .github/workflows/release.yml
Due: prettier --write

chore: update all GitHub Actions to latest versions
  .github/workflows/release.yml
Due: prettier --write

chore: cleanup - remove unused bun.lockb, update .gitignore
  .gitignore
  bun.lockb
Due: none

docs: simplify README without screenshots
  README.md
Due: prettier --write

docs: actualizar CHANGELOG.md con historial completo de versiones
  CHANGELOG.md
  V2_PLAN.md
Due: prettier --write

feat: capture and display attestation URLs in release notes
  .github/workflows/release.yml
Due: prettier --write

feat: extract and display Rekor log index in release notes
  .github/workflows/release.yml
Due: prettier --write

docs: translate CHANGELOG to English
  CHANGELOG.md
Due: prettier --write

feat: add booking creation timestamp display in All Upcoming Bookings section
  src/pages/Index.tsx
Due: eslint --fix, prettier --write

feat: actualizar versión a 2.2.0 y agregar detalles de creación de reservas en CHANGELOG
  CHANGELOG.md
  package.json
Due: prettier --write

ci: add daily security scan workflow for SBOM vulnerability detection
  .github/workflows/security-scan.yml
Due: prettier --write

fix: reposition badges to top right and fix calendar timezone bug
  CHANGELOG.md
  src/components/ParkingSpotCard.tsx
  src/pages/Index.tsx
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

build(deps): update dependencies
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update changelog and formatting, update dependencies
  CHANGELOG.md
Due: prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/test.yml
Due: prettier --write

fix(security): update react-router-dom to 7.12.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): resolve SECURITY DEFINER views and materialized view API exposure
  supabase/migrations/20251010000001_add_user_id_and_update_policies.sql
  supabase/migrations/20260112000001_fix_security_definer_views.sql
  supabase/migrations/20260112000002_fix_materialized_view_api_exposure.sql
Due: none

chore(release): v2.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#59)
  .github/workflows/test.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
