Repository miguel11nines/park-it-easy-office: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

chore: release v2.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update tech stack versions
  README.md
Due: prettier --write

fix(db): add WITH CHECK, UNIQUE constraint, revoke anon, future-date CHECK
  supabase/migrations/20260223000001_phase1_security_fixes.sql
Due: none

fix(db): restrict SECURITY DEFINER functions to admin role
  supabase/migrations/20260223000002_phase2_restrict_functions.sql
Due: none

fix(security): add Content Security Policy meta tag (H6)
  index.html
Due: none

fix(security): replace raw error messages with user-safe messages (M7)
  src/lib/errorMessages.ts
  src/pages/Auth.tsx
  src/pages/Index.tsx
Due: eslint --fix, prettier --write

fix: replace process.env.NODE_ENV with import.meta.env.DEV, remove hardcoded URL
  src/components/ErrorBoundary.tsx
  src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

fix(security): sanitize pathname in 404 log (L11)
  src/pages/NotFound.tsx
Due: eslint --fix, prettier --write

chore: release v2.4.0
  package.json
Due: prettier --write

chore: release v2.4.1
  package.json
Due: prettier --write

docs: add v2.4.1 delta report and update comprehensive security report
  audits/security/comprehensive-security-report.md
  audits/v2.4.1-delta-report.md
Due: prettier --write

fix(security): use app_metadata for admin role check (NEW-H1)
  supabase/migrations/20260223000003_fix_admin_role_check.sql
Due: none

feat: add shared password validation schemas (NEW-M4)
  src/lib/passwordValidation.ts
  src/test/passwordValidation.test.ts
Due: eslint --fix, prettier --write

fix(auth): remove password complexity validation from login form (NEW-L1)
  src/pages/Auth.tsx
Due: eslint --fix, prettier --write

fix(auth): unify authService password validation with shared schemas
  src/services/authService.ts
Due: eslint --fix, prettier --write

fix(auth): add error handling to signOut in useAuth
  src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

fix(ci): make test failures block releases (NEW-M2)
  .github/workflows/release.yml
Due: prettier --write

chore: release v2.5.0
  docs/plans/2026-02-23-phase3a-quick-fixes.md
  package.json
Due: prettier --write

docs(audit): update security reports for v2.5.0 (Phase 3A)
  audits/security/comprehensive-security-report.md
  audits/v2.4.1-delta-report.md
Due: prettier --write

fix(ui): migrate calendar component from react-day-picker v8 to v9 API
  src/components/BookingDialogWithValidation.tsx
  src/components/ui/calendar.tsx
Due: eslint --fix, prettier --write

chore: release v2.5.1
  package.json
Due: prettier --write

feat(stats): redesign Statistics page with tabbed dashboard
  src/components/statistics/MyProfileTab.tsx
  src/components/statistics/OverviewTab.tsx
  src/components/statistics/TeamTab.tsx
  src/components/statistics/TrendsTab.tsx
  src/pages/Statistics.tsx
Due: eslint --fix, prettier --write

build(deps-dev): bump eslint-plugin-react-hooks to v7 and fix lint errors
  package.json
  pnpm-lock.yaml
  src/components/statistics/TeamTab.tsx
  src/components/ui/sidebar.tsx
  src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

build(deps-dev): bump eslint-plugin-react-hooks to v7 and fix lint errors (#79)
  package.json
  pnpm-lock.yaml
  src/components/statistics/TeamTab.tsx
  src/components/ui/sidebar.tsx
  src/hooks/useAuth.tsx
Due: eslint --fix, prettier --write

refactor: consolidate types, adopt React Query, harden security, upgrade Vite 8
  .env.example
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/BookingDialogWithValidation.tsx
  src/components/ErrorBoundary.tsx
  src/components/ParkingSpotCard.tsx
  src/components/ProtectedRoute.tsx
  src/components/StatisticsCard.tsx
  src/components/statistics/MyProfileTab.tsx
  src/components/statistics/OverviewTab.tsx
  src/components/statistics/TeamTab.tsx
  src/components/statistics/TrendsTab.tsx
  src/hooks/useBookings.ts
  src/hooks/useCreateBooking.ts
  src/hooks/useDeleteBooking.ts
  src/hooks/useParkingSpots.ts
  src/hooks/useRecurringBookings.ts
  src/hooks/useStatistics.ts
  src/pages/Auth.tsx
  src/pages/Index.tsx
  src/pages/Statistics.tsx
  src/services/bookingService.ts
  src/test/ParkingSpotCard.test.tsx
  src/test/bookingService.test.ts
  src/types/booking.ts
Due: eslint --fix, prettier --write

refactor: consolidate types, React Query, security, Vite 8, CI overhaul
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/test.yml
  README.md
  e2e/app.spec.ts
  e2e/auth.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/App.tsx
  src/components/BookingDialogWithValidation.tsx
  src/components/ErrorBoundary.tsx
  src/components/ParkingSpotCard.tsx
  src/components/ProtectedRoute.tsx
  src/components/StatisticsCard.tsx
  src/components/statistics/MyProfileTab.tsx
  src/components/statistics/OverviewTab.tsx
  src/components/statistics/TeamTab.tsx
  src/components/statistics/TrendsTab.tsx
  src/hooks/useBookings.ts
  src/hooks/useCreateBooking.ts
  src/hooks/useDeleteBooking.ts
  src/hooks/useParkingSpots.ts
  src/hooks/useRecurringBookings.ts
  src/hooks/useStatistics.ts
  src/pages/Auth.tsx
  src/pages/Index.tsx
  src/pages/Statistics.tsx
  src/services/bookingService.ts
  src/test/ParkingSpotCard.test.tsx
  src/test/bookingService.test.ts
  src/types/booking.ts
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: bump actions to v6 and force Node.js 24 for third-party actions
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: prettier --write

fix(ci): revert configure-pages to v5 and deploy-pages to v4 (v6/v5 don't exist)
  .github/workflows/release.yml
Due: prettier --write

ci: streamline release pipeline (5 jobs to 3, remove redundant steps)
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: prettier --write

fix(ci): use cdxgen for SBOM generation (pnpm compatible)
  .github/workflows/release.yml
Due: prettier --write

ci: harden all workflows to SLSA Build Level 3
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: prettier --write

fix(ci): use tag ref for SLSA generator to fix provenance verification
  .github/workflows/release.yml
Due: prettier --write

docs: add privacy policy page for Google Play Store listing
  public/privacy-policy.html
Due: none

fix(ci): add issues:write permission to security scan workflow
  .github/workflows/security-scan.yml
Due: prettier --write

build(deps): bump @testing-library/react, postcss, react-router-dom, @eslint/js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): patch security vulnerabilities in transitive dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 2.6.2
  package.json
Due: prettier --write

chore: bump version to 2.6.3
  package.json
Due: prettier --write
